## Build constructs:
Makefile
Makefile.old
MANIFEST.bak
*.gz
blib/
none/
pm_to_blib
MYMETA.*

## Editor temporary files:
*~
*.swp
*#
.#*

## Git stuff
*.blame
/*.patch
*.diff
*.orig
*.rej

## Testing artifacts:
bucordo_test_database_*
*.log
log.bucordo
bucordo.restart.reason.*
fullstopbucordo
test.*
bucordo_pgservice.tmp.*
pid/*
bucordo.debug.dsns.txt

## Temporary files:
tmp/
*.tmp
*.asc
*.tar
pop
scrap
uno
dos
tres
cuatro
gitlog

## Local things:
notes.*
.bucordorc
opensourceshakespeare/
hot/
examples/
